* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
    direction: ltr;
}

nav {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-bottom: 1rem;
    padding-top: 2.2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    align-items: center;
    overflow: visible;
    direction: rtl;
}

.list-nav {
    display: flex;
    justify-content: start;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    transform: translateY(5px);
}

.item {
    list-style: none;
    font-size: 15px;
    font-family: "Noto Sans", sans-serif;
}

.logo {
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo span {
    font-size: 2rem;
}

.logo h1 {
    font-size: 2.3rem;
    display: flex;
    align-items: center;
    font-family: "Noto Sans", sans-serif;
    font-style: oblique;
}

.list-nav ul li:first-child {
    box-shadow: 0 0 0 0.8px black;
    padding: 1rem;
    border-radius: 14px;
}

.list-nav ul li a {
    text-decoration: none;
    color: black;
}

.menu{
    display: none;
    transform: translateY(5px);
}

.menu span{
    font-size: 2rem;
}

@media screen and (width < 576px) {
    nav{
        padding: 2rem 2rem;
    }
    .list-nav{
        display: none;
    }
    nav ul{
        display: none;
    }
    .menu{
        display: flex;
        align-items: center;
    }
    
}

@media screen and (width >= 576px) {
    nav{
        padding: 2rem 2rem;
    }
    
}

@media screen and (width >= 768px) {
    nav{
        padding: 2rem 2rem;
    }    
}

@media screen and (width >= 992px) {
    
}

@media screen and (width >= 1200px) {
    
}

@media screen and (width >= 1400px) {
    
}
